*.pyc
figs/*
experiments/codec/archived/*
experiments/codec/data/*
experiments/codec/logs/*
experiments/codec/outputs/*
logs/*
__pycache__/
*.log
core
*.sublime-project
*.sublime-workspace
.project
.pydevproject
build/
docs/
magis/algorithms/cephes/
magis/legacy/
*.so
*.c

